In [ ]:


# A DataFrame is a two-dimensional, labeled data structure in Pandas.
# It is similar to an Excel spreadsheet or SQL table.

# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)

# Display the DataFrame
display(df)

# ## 2. Reading Data from a CSV File
#
# Pandas can read data from various file formats, including CSV.
# The following code reads a CSV file into a DataFrame.
# Uncomment the line below and replace 'your_file.csv' with the actual file path.

# df = pd.read_csv('your_file.csv')

# ## 3. Accessing Data
#
# You can access specific columns, rows, or values in a DataFrame.

# Access a single column
display(df['Name'])

# Access multiple columns
display(df[['Name', 'Salary']])

# Access a specific row by index
display(df.iloc[1])

# ## 4. Filtering Data
#
# Filtering is used to select specific rows based on conditions.

# Select rows where Age is greater than 30
filtered_df = df[df['Age'] > 30]
display(filtered_df)

# ## 5. Adding and Modifying Columns
#
# You can add new columns or modify existing ones.

df['Experience'] = [2, 5, 7, 10]  # Adding a new column
df['Salary'] = df['Salary'] * 1.05  # Increasing salary by 5%
display(df)

# ## 6. Handling Missing Values
#
# Missing values in a DataFrame can be filled or removed.

# Creating a DataFrame with missing values
data_with_nan = {
    'Name': ['Alice', 'Bob', None, 'David'],
    'Age': [25, None, 35, 40],
    'Salary': [50000, 60000, 70000, None]
}
df_nan = pd.DataFrame(data_with_nan)
display(df_nan)

# Fill missing values
df_nan_filled = df_nan.fillna({'Name': 'Unknown', 'Age': df_nan['Age'].mean(), 'Salary': df_nan['Salary'].median()})
display(df_nan_filled)

# ## 7. Grouping and Aggregation
#
# Pandas allows grouping of data to perform aggregate functions.

grouped = df.groupby('Experience').mean()
display(grouped)

# ## 8. Exporting Data
#
# You can export a DataFrame to various formats such as CSV or Excel.

# Export to CSV
df.to_csv('output.csv', index=False)

# Export to Excel
df.to_excel('output.xlsx', index=False)

# ## 9. Summary Statistics
#
# You can quickly get insights into the data using summary functions.

display(df.describe())

# Pandas Data Frames
## 1. Creating a Pandas DataFrame
A DataFrame is a two-dimensional, labeled data structure in Pandas.
It is similar to an Excel spreadsheet or SQL table.

In [11]:
import numpy as np
import pandas as pd

In [23]:
from numpy.random import randn
np.random.seed(101)

In [31]:
# Creating 
df=pd.DataFrame(data=randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])

In [33]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478